body {
  margin: 0;
  padding: 0;
}
.text-center {
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position:fixed;
  background-color: white;
  width:100%;
  top:0;
  left:0;
  z-index:10;
}
.menu {
  list-style-type: none;
  display: flex;
  gap: 40px;
  padding: 0px;
  margin: 0px;
  margin-left: auto;
}
.menu a {
  text-decoration: none;
  color: rgba(13, 50, 45, 1);
  font-size: 20px;
  position: relative;
}
.menu a:after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  background: rgba(13, 50, 45, 1);
  bottom: 0;
  left: 0;
  transition: all 0.4s ease;
}
.menu a.active::after,
.menu a:hover::after {
  width: 100%;
}
.book-button {
  background-color: rgba(13, 50, 45, 1);
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 13px;
  margin-left: 12%;
  margin-right: 50px;
  border: none;
}
/*----------------------------------------*/
.slideshow-container {
  position: relative;
  margin: auto;
  overflow: hidden;
}
.mySlides {
  display: none;
  position: relative;
}
.mySlides img {
  width: 100%;
  height: 700px;
  display: block;
}
.text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 20px;
}
.text h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
}
.text p {
  margin: 10px 0;
  font-size: 18px;
  opacity: 0.9;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 15px;
}
.butoni1 {
  background-color: rgba(13, 50, 45, 1);
  color: white;
  border: none;
  width: 140px;
  height: 45px;
  cursor: pointer;
  font-size: 16px;
}
.butoni2 {
  background-color: transparent;
  color: rgba(13, 50, 45, 1);
  font-weight: bold;
  border: 2px solid white;
  width: 140px;
  height: 45px;
  cursor: pointer;
  font-size: 16px;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -20px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  z-index: 1000;
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.change-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
  z-index: 10;
}

.change-content.left {
  left: 20px;
}

.change-content.right {
  right: 20px;
}

.change-content:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/*----------------------------------------*/
.book-room {
  background-color: rgba(13, 50, 45, 0.7);
  width: 80%;
  padding: 15px;
  padding-top: 22px;
  display: flex;
  opacity: 80%;
  height: 90px;
  box-sizing: border-box;
  margin-left: 10%;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 725px;
}
.book-room input {
  width: 17%;
}
.book-room input,
.book-room button {
  padding: 10px;
  border: none;
  font-size: 16px;
  margin-right: 2px;
}
#buttoncheck {
  background-color: rgba(13, 50, 45, 1);
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 20%;
  opacity: 100%;
}
.container {
  margin-top: 15%;
  display: flex;
  color: rgba(13, 50, 45, 1);
  align-items: stretch;
  justify-content: space-between;
}
.container .text1 {
  color: rgba(16, 72, 16, 1);
  max-width: 700px;
  font-size: 16px;
  margin: 0 20px;
}
.container .text1 h1 {
  font-size: 33px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Aboreto", cursive;
}
.container .text1 p {
  margin: 0 0 20px;
  font-size: 20px;
}
.container > img {
  opacity: 60%;
}
.container #part2 {
  margin-top: 5%;
}
.container button {
  color: rgba(16, 72, 16, 1);
  border-color: 2px solid rgba(16, 72, 16, 1);
  background-color: transparent;
  width: 152px;
  height: 50px;
  border-radius: px;
  cursor: pointer;
}

.container button:hover {
  background-color: rgba(13, 50, 45, 1);
  color: white;
}
hr {
  margin: 50px 120px;
  opacity: 70%;
}
.rooms,
.events,
.dining {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  box-sizing: border-box;
}
.rooms .room-text,
.events .event-text,
.dining .dining-text,
.yoga .yoga-text,
.pet-friendly .pet-text,
.spa .spa-text {
  padding: 17px;
  font-size: 17px;
  border: 1px solid rgb(220, 220, 220);
  background-color: #fffcfc;
  opacity: 70%;
  font-family: "Montaga", serif;
}
.rooms .room-text p,
.events .event-text p,
.dining .dining-text p,
.yoga .yoga-text p,
.pet-friendly .pet-text p,
.spa .spa-text p {
  opacity: 60%;
}
.rooms .room-text a,
.events .event-text a,
.dining .dining-text a,
.yoga .yoga-text a,
.pet-friendly .pet-text a,
.spa .spa-text a {
  text-decoration: none;
  float: right;
  font-size: 30px;
  margin-right: 10px;
}
.service {
  display: flex;
}
.comments {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comments .comment-1 {
  color: rgba(13, 50, 45, 1);
  font-size: 20px;
  text-align: center;
  width: 650px;
  margin-top: 8%;
  font-family: "Noto Sans SC", sans-serif;
}
.footer {
  background-color: rgba(13, 50, 45, 1);
  height: 300px;
  color: #fff;
  padding: 0 25px;
}
.footer .container{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.footer .container .part1 {
  font-size: 18px;
  padding: 50px;
  color: #d9d9d9;
}
.footer .container .part1 p {
  opacity: 80%;
  padding-right: 30px;
}
.footer .container .part1 #submit{
  color: white;
  font-size: 15px;
  background-color: rgb(88, 132, 107);
  border: white;
  height: 38px;
  width: 140px;
}
.part1 input {
  height: 40px;
  width: 250px;
  border-radius: 5px;
  background-color: rgba(217, 217, 217, 1);
  padding: 5px;
}
.footer .container .part2,
.footer .container .part3,
.footer .container .part4{
  flex: 1;
  padding: 10px;
}
.container .part2 li a,
.container .part3 li a,
.container .part4 li a {
  text-decoration: none;
  color: white;
  opacity: 80%;
  transition: opacity 0.3s ease;
}
.container .part2 li,
.container .part3 li,
.container .part4 li {
  list-style-type: none;
}
.container .part2 li a:hover,
.container .part3 li a:hover,
.container .part4 li a:hover{
  opacity: 1;
}
.part2 h2,
.part3 h2,
.part4 h2 {
  opacity: 90%;
  color: white;
}
.container .part4 li {
  color: white;
  padding: 7px;
}
.footer .rights-reserved{
  color: white;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montaga&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* ---------------------------
Global Things
--------------------------- */

body,
html {
  margin: 0;
}
#main {
  overflow: hidden;
}
.customMargin {
  margin: 50px 0;
}
.half {
  width: 50%;
}

* {
  box-sizing: border-box;
}

.myContainer {
  max-width: 1200px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.myimg-responsive {
  display: block;
  width: 100%;
  height: auto;
}

.relative {
  position: relative;
}

/* ---------------------------
Banner
--------------------------- */
#banner {
  padding-bottom: 140px;
}
#banner img {
  max-width: 100%;
  height: auto;
  display: block;
}
#banner .container {
  max-width: 1200px !important;
}
#banner .bannerBox {
  width: 648px;
  height: 670px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px 50px;
  border-radius: 50px;
  background-color: #0d322d70;
  position: absolute;
  bottom: -70px;
  left: -130px;
}
#banner .bannerBox h2 {
  font-size: 40px;
  line-height: 50px;
  color: #d9d9d9;
  font-family: "Montaga", serif;
}
#banner .bannerBox p {
  font-size: 24px;
  line-height: 34px;
  color: #d9d9d9;
  font-family: "Montaga", serif;
}

/* ---------------------------
Second Navbar
--------------------------- */

#secondNavbar {
  background-color: #0d322d10;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
#secondNavbar ul.secondNav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#secondNavbar ul.secondNav li {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}
#secondNavbar ul.secondNav li a {
  color: #000;
  font-size: 24px;
  line-height: 34px;
  width: 270px;
  height: 120px;
  padding-top: 40px;
  text-align: center;
  font-weight: 500;
  font-family: "Montaga", sans-serif;
  text-decoration: none;
  transition: all 0.4s ease;
}
#secondNavbar ul.secondNav li a:hover,
#secondNavbar ul.secondNav li a.active {
  background-color: #0d322d;
}
#secondNavbar ul.secondNav li a:hover,
#secondNavbar ul.secondNav li a.active {
  color: #fff;
}

#underNavbar .imageContainer {
  width: 100%;
  height: 500px;
  position: relative;
}
#underNavbar .imageContainer img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
/* ---------------------------
Elegant Section
--------------------------- */
#elegant {
  position: relative;
  background-color: #0d322d10;
  padding: 20px;
  margin-bottom: 50px;
}
#elegant .elegant_text h5 {
  font-family: "Montaga", serif;
  font-size: 36px;
  line-height: 46px;
  color: #000;
  font-weight: 500;
  margin: 0;
  margin-bottom: 20px;
}
#elegant .elegant_text p {
  font-family: "Montaga", serif;
  font-size: 32px;
  line-height: 42px;
  color: #000;
  font-weight: 400;
  margin: 0 auto;
  width: 70%;
}
.roomButton {
  background-color: #0d322d;
  padding: 25px 35px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  display: inline-block;
  transition: all 0.4s ease;
  border: 2px solid transparent;
}
.roomButton:hover {
  background-color: #fff;
  color: #0d322d;
  border: 2px solid #0d322d;
}

/* ---------------------------
Junior Suite Section
--------------------------- */

#juniorSuite {
  padding: 50px 0;
}
#juniorSuite .juniorText {
  padding-left: 60px;
  margin-top: 50px;
}
#juniorSuite .juniorText h5 {
  font-family: "Montaga", serif;
  font-size: 36px;
  line-height: 46px;
  color: #000;
  font-weight: 500;
  margin: 0;
  margin-bottom: 20px;
}
#juniorSuite .juniorText p {
  font-family: "Montaga", serif;
  font-size: 32px;
  line-height: 42px;
  color: #000;
  font-weight: 400;
  margin: 0 auto;
}

/* ---------------------------
Sea View Section
--------------------------- */
#seaView {
  padding: 50px 0;
}
#seaView .seaText {
  padding-right: 60px;
  margin-top: 50px;
}
#seaView .seaText h5 {
  font-family: "Montaga", serif;
  font-size: 36px;
  line-height: 46px;
  color: #000;
  font-weight: 500;
  margin: 0;
  margin-bottom: 20px;
}
#seaView .seaText p {
  font-family: "Montaga", serif;
  font-size: 32px;
  line-height: 42px;
  color: #000;
  font-weight: 400;
  margin: 0 auto;
}

/* ---------------------------
Grande Suite Section
--------------------------- */
#grandeSuite {
  margin-top: 100px;
  padding: 50px 0;
  position: relative;
  z-index: 9;
}
#grandeSuite::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: 0;
  left: 0;
  background-color: #0d322d10;
  z-index: -1;
}

#grandeSuite .textGrande h5 {
  font-family: "Montaga", serif;
  font-size: 36px;
  line-height: 46px;
  color: #000;
  font-weight: 500;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 50px;
}
#grandeSuite .textGrande p {
  font-family: "Montaga", serif;
  font-size: 32px;
  line-height: 42px;
  color: #000;
  font-weight: 400;
  margin: 0 auto;
  width: 70%;
}

/* ---------------------------
Book Section
--------------------------- */
#book {
  position: relative;
  background-color: #0d322d70;
  margin-top: 130px;
  border-radius: 35px;
}
#book .textAbsolute {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#book img {
  opacity: 0.7;
}
#book .textAbsolute h5 {
  font-family: "Montaga", serif;
  font-size: 36px;
  line-height: 46px;
  color: #fff;
  font-weight: 500;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 50px;
}
#book .textAbsolute p {
  font-family: "Montaga", serif;
  font-size: 32px;
  line-height: 42px;
  color: #fff;
  font-weight: 400;
  margin: 0 auto;
  width: 70%;
}

/* ---------------------------
Footer Section
--------------------------- */

#myFooter .flexItems {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
#myFooter .flexItems h5 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 34px;
  color: #000;
}
#myFooter .flexItems .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#myFooter .flexItems .social li {
  list-style: none;
}
#myFooter .flexItems .social li a {
  display: inline-block;
}
#myFooter .flexItems .social li a img {  
  transition: all 0.4s ease;
}
#myFooter .flexItems .social li a img:hover {
  transform: scale(1.03);
}
